@font-face {
  font-family: "noto-sans-heb";
  src: url('./assets/font/NotoSansHebrew.ttf');
  font-weight: normal;
}

* {
  font-family: "noto-sans-heb";
}

html ,body {
 
  direction: rtl;
  margin: 0;
  padding: 0;
}
