.link {
    flex-basis: 150px;
    height: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background-color: #3a6197;
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    text-align: center;
}


