.medicine-page {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    color: #00067a;
    margin-bottom: 2rem;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}

.medicine-page section {
    width: 70%;
    border: 3px solid #0f9ed5;
    border-radius: 15px;
    padding: 1rem;
}